*{
    padding: 0px;
    margin:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

:root {
    --mid: #0a1733;
    --light: #979dac59;
    --text: #001233d3;
    --highlight: #0466c84b;
    --code: rgba(255, 255, 255, 0.356);
    --white: rgba(255, 255, 255, 0.884);
}


header {
    background-color:var(--mid);
    padding-top: 50px;
    padding-bottom:50px;
    text-align: center;
    font-size: 48px;
    color: white;
    letter-spacing: 10px;
    font-weight: 200;
    font-variant: small-caps;

}

.subheader {
    background-color: var(--text);
    padding: 30px;
    margin-bottom: 10px;
    color:rgba(255, 255, 255, 0.719);
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 200;
    font-variant: small-caps;
}

body {
    background-color:var(--light);
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;  
}

.topics {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    position: relative;
    transition: 253ms ease;
    
}

.main-container>article>section {
    border: 4px black;
    padding: 5px;
    margin-bottom: 200px;
    background-color: var(--light);
    margin: 20px 15px 20px 20px;
    border-radius: 5px;
    height: 400px;
    position: relative;
    border: dashed var(--mid);
    
    /* width: 400px;
    height: 400px; */
}

.topic-titles{
    display: block;
    background-color: var(--mid);
    padding:10px;
    text-align: center;
    position:relative;
    top: -20px;
    border-radius: 5px;
    color: white;
    letter-spacing: 5px;
    font-weight: 100;
    font-variant: small-caps;
}

pre{
    background-color: var(--text);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--white);
    font-size: 13px;
    letter-spacing: 3px;
    font-variant: normal;
    position: relative;
    top:50px;
}


footer {
    background-color:var(--mid);
    padding: 40px;
    width: 100%;
    margin-bottom: 0;
    bottom:0;
    color: var(--code);
    text-align: center;
}

.main-container>article>section:hover {
    box-shadow:5px 5px 5px 5px var(--highlight);
    transition: 253ms ease;
}

@media screen and (max-width:992px){
    .topics{
        width:50%;
    }
    
}

@media only screen and (max-width:768px){
    .topics{
        width: 100%;
    }
}



